body {
	text-align: center;
	font-family: helvetica;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

.headshot {
	margin-top: 20px;
	margin-bottom: 50px;
	border: solid white 7px;
	border-radius: 100%;
	height: 20em;
}

.sect1 {
	margin-top: -20px;
	background-color: #5A9180;
	color: white;
	height: 60em;
}

.sect2 {
	color: white;
	background-image: url("assets/divein.jpg");
	background-size: 120%;
	/*margin-top: -20px;*/
}

.sect2 h3{
	width: 30%;
}

.sect3 {
	background-color: #AA6039;
	height: 60em;
}

.sect3 li {
	display: block;
	font-size: 25px;
	
}

.sect4 {
	height: 60em;
}
